<div class="text-center">
  <h1><%= @film.title %></h1>
  <i><strong>Año : </strong><%= @film.year %></i>
  
  <br>
   <i><strong>Description : </strong><%= @film.description %></i>
   <br>
  <%= (@film.cover?) ? image_tag(@film.cover.url, alt: 'Image') : "No hay ninguna imagen"%>
  <br>
   <%= link_to "Regresar a peliculas", films_path, class:"btn btn-primary" %>
 </div>
-<%= link_to 'All film', film_path %>

 
-<%= image_tag(@film.image.url, alt: 'Image') if @film.image? %>
 
<p><%= @film.body %></p>
 
<p><%= link_to 'Edit', edit_film_path(@film) %></p>

<%= link_to(image_tag(@film.image.thumb.url, alt: 'Image'), @film.image.url, target: '_blank') if @film.image? %>
